{% extends 'base.html' %}

{% block body %}
<h1>Top Artists:</h1>

<!-- Button for Short Term -->
<button class="sticky-buttons" onclick="toggleVisibility('short_artists')">Short Term</button>
<div id="short_artists" style="display: none;">
    <br>
    <h2>Short Term</h2>
    <ul>
        {% for name, image in short %}
        <div>
            <li>
                <p class="artist_name">{{ name }}</p>
                <br>
                <img src="{{ image }}" alt="{{ name }}" class="artist_image"></img>
            </li>
        </div>
        {% endfor %}
    </ul>
</div>

<!-- Button for Medium Term -->
<button class="sticky-buttons" onclick="toggleVisibility('med_artists')">Medium Term</button>
<div id="med_artists" style="display: none;">
    <br>
    <h2>Medium Term</h2>
    <ul>
        {% for name, image in med %}
            <li>
                {{ name }}
                <img src="{{ image }}" alt="{{ name }}" class="artist_image"></img>
            </li>
        {% endfor %}
    </ul>
</div>

<!-- Button for Long Term -->
<button class="sticky-buttons" onclick="toggleVisibility('long_artists')">Long Term</button>
<div id="long_artists" style="display: none;">
    <br>
    <h2>Long Term</h2>
    <ul>
        {% for name, image in long %}
            <li>
                {{ name }}
                <img src="{{ image }}" alt="{{ name }}" class="artist_image"></img>
            </li>
        {% endfor %}
    </ul>
</div>

<script src="{{ url_for('static', filename='js/topArtistToggleVisibility.js') }}"></script>
{% endblock %}
