@font-face {
    font-family: 'Circular Std';
    src: url('../fonts/circular-std.ttf');
}

* {
    background-color: #121212;
    font-family: "Circular Std";
    color: white;
    margin: 0;
    padding: 0;
}

#navbar {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

#navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

#navbar ul li {
    margin: 0 15px;
}

#navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

#navbar ul li a:hover {
    color: #1fdf64;
}

#button_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header_title {
    margin: 25px 0 0 0;
}

#login_button {
    background-color: #1fdf64; /* Green */
    border: none;
    color: #121212;
    margin: 25px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    width: 200px;
    font-family: "Circular Std";
}

#header_container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.artist_image {
    width: 150px;
}